<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Sign In | Bootstrap Based Admin Template - Material Design</title>
    <!-- Bootstrap Core Css -->
    <link href="{{ asset('font-awesome/css/font-awesome.css') }}" rel="stylesheet">
    <link href="{{ asset('font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">


    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">

    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
</head>
<body>
<div class="top-content">

    <div class="inner-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text">
                    <h1><strong>Cup</strong>Cakes</h1>
</div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 form-box">
                    <div class="form-top">
                        <div class="form-top-left">
                            <h3>{% block titreh3 %}{% endblock %}</h3>
                            <p>{% block description %}{% endblock %}</p>
                        </div>
                        <div class="form-top-right">
                            <i class="fa fa-lock"></i>
                        </div>
                    </div>
                    <div class="form-bottom">

        {% for type, messages in app.session.flashBag.all %}
            {% for message in messages %}
                <div class="{{ type }}">
                    {{ message|trans({}, 'FOSUserBundle') }}
                </div>
            {% endfor %}
        {% endfor %}
        {% block fos_user_content %}{% endblock %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 social-login">
                    <h3>...or login with:</h3>
                    <div class="social-login-buttons">
                        <a class="btn btn-link-2" href="#">
                            {% extends 'HWIOAuthBundle::layout.html.twig' %}
                            {% block hwi_oauth_content %}
                                {% if error is defined and error %}
                                    <span>{{ error }}</span>
                                {% endif %}
                                {% for owner in hwi_oauth_resource_owners() %}
                                    <a href="{{ hwi_oauth_login_url() }}">{{ owner | trans({}, 'HWIOAuthBundle') }}</a> <br />
                                {% endfor %}
                            {% endblock hwi_oauth_content %}
                        </a>
                        <a class="btn btn-link-2" href="#">
                            <i class="fa fa-google-plus"></i> Google Plus
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% block javascripts %}
    <script   src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
    <!-- Jquery Core Js -->
    <script src="{{ asset('js/jquery.backstretch.min.js') }}"></script>

    <!-- Bootstrap Core Js -->
    <script src="{{ asset('js/scripts.js') }}"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>

    <!-- Validation Plugin Js -->
    <script src="{{ asset('js/jquery-1.11.1.min.js') }}"></script>

    <!-- Custom Js -->

{% endblock %}
</body>
</html>
