{% trans_default_domain 'FOSUserBundle' %}
{% trans_default_domain '@HWIOAuth/layout.html.twig' %}
{% extends "::base.html.twig" %}
{% block titreh3 %}Login to our site{% endblock %}
{% block description %}Enter your username and password to log on:{% endblock %}
{% block fos_user_content %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
<div class="login">

    <form role="form" action="{{ path("fos_user_security_check") }}" method="post" class="login-form">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        <div class="form-group">
            <label for="username" class="sr-only">{{ 'security.login.username'|trans }}</label>
            <input type="text" placeholder="Username..." class="form-username form-control" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" />
        </div>
            <div class="form-group">
                <label for="password" class="sr-only">{{ 'security.login.password'|trans }}</label>
                <input type="password" id="password" placeholder="Password..." class="form-password form-control" name="_password" required="required" autocomplete="current-password" />
            </div>
                <div class="form-group">
                    <button type="submit" class="btn"  id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" >Sign in !</button>
                </div>

        <div class="form-bottom-left">
                <a href="{{ path('fos_user_registration_register') }}">Inscrivez vous</a>
        <a href="{{ path('fos_user_resetting_request') }}">Mot de passe oublier</a>
        </div>
    </form>
</div>
{% endblock fos_user_content %}
